venv/
__pycache__/
*.pyc

.env
app/**/.env

.ipynb_checkpoints/

dados/raw/
dados/processed/

artifacts/embedding/
artifacts/analysis/

artifacts/clustering/*.npy
artifacts/clustering/*.npy
artifacts/clustering/kmeans_20.joblib

artifacts/tfidf/*_train.npz
artifacts/tfidf/*_test.npz

artifacts/clustering/umap_cluster.joblib